

/* ocultar mensaje de éxito o error en emailjs */
.d-none {
    display: none !important;
}

.logo-con-fondo {
    background-color: white; /* Fondo blanco */
    border-radius: 50%; /* Hace que el fondo sea circular */
    display: inline-block; /* Asegura que el fondo circular se ajuste a la imagen */
  }

/* Fuente y Reseteo */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f3f3f3;
    color: #333;
}

main {
    padding: 100px 20px; /* Ajuste para el espacio del menú fijo */
    max-width: 1200px;
    margin: 0 auto;
}

section {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1s ease-out;
}

h1 {
    margin-bottom: 10px;
    color: #444;
}

p {
    color: #666;
    line-height: 1.6;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #3a3a3a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #555;
}

.error {
    color: red;
    font-size: 0.9em;
}

footer {
    background: #3a3a3a;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: opacity 0.3s;
}

#back-to-top:hover {
    background-color: #555;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar-collapse {
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .navbar-collapse {
        justify-content: flex-end;
    }

    .navbar-collapse.collapsing,
    .navbar-collapse.show {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav {
        width: 100%;
    }

    .navbar-nav .nav-item {
        text-align: left;
    }

    .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .social-icons .nav-item {
        text-align: center;
        flex: 1;
    }
}
